@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$rojo: #FF0000;
$blanco: #FFFFFF;
$gris: #ececec;
$grisOscuro: #333333;
$primario: #2e5fe7;
$background-color: #F5F5F5;


// Gradientes
$background-color-gradient: linear-gradient(180deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
$background-color-gradient-azul: linear-gradient(360deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
$separacion: 5rem;


// Fuentes

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900